@font-face {
    font-family: AfacadFlux;
    src: url("/fonts/AfacadFlux-VariableFont_slnt,wght.ttf");
  }

  :root {
    --container-width: 710px;
  }

.home-about .avatar img {
    border-radius: 0;
    object-fit: none;
}

html {
    font-family: AfacadFlux, sans-serif;
    font-size: 20px;
  }
h1 {    
    font-size: 280%;
    font-weight: 600;
}
.home-about h1 {
    font-weight: 300;
    font-size: 280%;
    position: relative;
    top: -0.5em;
}

.nav-title {
    font-size: 120%;
}

.post .post-content, .markdown-content {
    line-height: 1.2;
    letter-spacing: normal;
    text-align: justify;
    font-weight: 300;
}

.post .post-content li, .markdown-content li {
  margin-bottom: 0.3em;
}

.header {
    font-size: 150%;
    height: 3em;
}
.header .header-nav {
    height: 100%;
}
    .header-nav .avatar img {
        width: 2em;
        height: 2em;
        margin-top: 0.5em;
    }
    .header .header-nav .nav-title, .header .header-nav .nav-links {
        margin-top: 0.55em;
}

.pdflink {
    font-size: 60%;
    text-transform: uppercase;
    font-weight: 400;
    background: #900;
    color: #fff;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 0.3em;
    border: 1px solid #fff;
    white-space: nowrap;
}
a.pdflink:hover {
    border: 1px solid #900;
    background: #fff;
    color: #900;
}

.bio-profile-pic {
    width: 10em;
    float: left;
    margin: 0.6em !important;
}

.people-page {
    list-style: none;
    text-align: left;
}
    .people-page .bio-profile-pic {
        width: 8em;
        height: 8em;
        margin-top: 0 !important;;
    }
    .people-page li {
        clear: both;
        /*! height: 8em; */
    }
    .people-page li h2 {
        margin-bottom: 0;
        margin-top: 1em !important;
    }
    .people-page li p {
        margin: 0;
    }

#alumni {
    margin-top: 0;
    padding-top: 0.5em;
    border-top: 1px solid #000;
}

@media screen and (max-width: 450px) {
    .nav-title {
        font-size: 7vw;
    }
}

@media screen and (max-width: 492px) {
    .people-page {
        padding: 0;
    }
    .people-page li {
        height: auto;
        text-align: center;
    }
    .people-page .bio-profile-pic {
        float: none;
        margin: 0 !important;
        margin-top: 2em !important;;
    }
    .people-page li h2 {
        margin-top: 0 !important;
    }
}